@media(max-width: 1240px){
    .style-switcher .s-icon i{
        line-height: 22px !important;
    }
    .style-switcher .s-icon{
        font-size: 16px !important;
        width: 25px !important;
        height: 25px !important;
    }
    .lang-btn1{
        top: 40px !important;
    }
    .lang-btn2{
        top: 80px !important;
    }
    .contact-section .contact-item {
        margin-top: 20px;
    }
}

@media(max-width: 1024px){
    .style-switcher .s-icon i{
        line-height: 22px !important;
    }
    .style-switcher .s-icon{
        font-size: 16px !important;
        width: 25px !important;
        height: 25px !important;
    }
    .lang-btn1{
        top: 40px !important;
    }
    .lang-btn2{
        top: 80px !important;
    }
    
    
}
@media(max-width: 991px){
    .portfolio-section .portfolio-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .btn-1{
        margin-top: 20px;
    }
    
}

@media(max-width: 767px){
    .contact-section .w-50,
    .contact-section .contact-item,
    .portfolio-popup .descriptions,
    .portfolio-popup .info,
    .portfolio-section .portfolio-item,
    .about-section .skills .skill-item,
    .about-section .about-info,
    .about-section .about-img,
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text{
        order: 2;
    }
    .contact-section .submit-btn,
    .home-section .home-text{
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
    }
    .effect-3{
        margin-left: -60px;
    }
    .effect-4{
        left: 15%;
    }
    .effect-5{
        right: 4%;
    }
    .about-section .about-img{
        padding-bottom: 30px;
    }
}
@media(max-width: 574px){
    .home-section .home-img .img-box{
        max-width: 260px;
    }
    .home-section .home-text h2{
        font-size: 40px;
    }
    
}
@media(max-width: 450px){
    .nav-menu .close-nav-menu{
        right: 25px;
    }
    .portfolio-section .filter-item {
        font-size: 14px;
    }
    .style-switcher .s-icon i{
        line-height: 20px !important;
    }
    .style-switcher .s-icon{
        font-size: 14px !important;
    }
    .lang-btn1{
        top: 35px !important;
    }
    .lang-btn2{
        top: 70px !important;
    }
    .portfolio-section .filter-item{
        font-size: 11px;
    }
    .portfolio-section .portfolio-filter{
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        justify-content: center;
        margin: 0 auto;
    }
}
@media(max-width: 370px){
    .portfolio-section .filter-item{
        font-size: 11px;
        margin: 0 0 10px;

    }
    .section-title h2{
        font-size: 25px;
    }
}




